/* Header */
.header {
  /* Header container */
  overflow: hidden;
  height: 220px;
  background-image: url('images/bg.png');
  margin: 0;
  position: relative;
  top:0;
}

.hidden {
  display:none;
}

h1 {
  /* Website title */
  padding-top: 60px;
  font: 70px Tahoma, Helvetica, Arial, Sans-Serif;
  color: #999;
  text-shadow: 0 3px 8px #2a2a2a;
}

  /* sign up & log in */
h2 {
  position: relative;
  top: -55px;
  left: 830px;
}

h2 a {
  font: 22px Tahoma, Helvetica, Arial, Sans-Serif;
  color: #999;
  text-shadow: 0 3px 8px #2a2a2a;
}

h2 a:hover {
  color: #222;
  text-shadow: 0 2px 3px #555;
}

/* Menu */
.container, .cssmenu {
  width: 1000px;
  margin: 0 auto;
}

.menuContainer {
  height: 70px;
  background-color: #232323;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4);
  width: auto;
}

.cssmenu ul {
  margin: 0 auto;
  padding: 0;
}
.cssmenu li {
  margin: 0;
  padding: 0;
}
.cssmenu a {
  margin: 0;
  padding: 0;
}
.cssmenu ul {
  list-style: none;
}
.cssmenu > ul > li {
  float: left;
  margin-left: 15px;
  position: relative;
}
.cssmenu > ul > li > a {
  color: #a0a0a0;
  font-family: Verdana, 'Lucida Grande';
  font-size: 15px;
  line-height: 70px;
  padding: 15px 20px;
  -webkit-transition: color .15s;
  -moz-transition: color .15s;
  -o-transition: color .15s;
  transition: color .15s;
}
.cssmenu > ul > li > a:hover {
  color: #ffffff;
}
.cssmenu > ul > li > ul {
  opacity: 0;
  visibility: hidden;
  padding: 16px 0 20px 0;
  background-color: #fafafa;
  text-align: left;
  position: absolute;
  top: 55px;
  left: 50%;
  margin-left: -90px;
  width: 180px;
  -webkit-transition: all .3s .1s;
  -moz-transition: all .3s .1s;
  -o-transition: all .3s .1s;
  transition: all .3s .1s;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}
.cssmenu > ul > li:hover > ul {
  opacity: 1;
  top: 65px;
  visibility: visible;
}
.cssmenu > ul > li > ul:before {
  content: '';
  display: block;
  border-color: transparent transparent #fafafa transparent;
  border-style: solid;
  border-width: 10px;
  position: absolute;
  top: -20px;
  left: 50%;
  margin-left: -10px;
}
.cssmenu > ul ul > li {
  position: relative;
}
.cssmenu ul ul a {
  color: #323232;
  font-family: Verdana, 'Lucida Grande';
  font-size: 13px;
  background-color: #fafafa;
  padding: 5px 8px 7px 16px;
  display: block;
  -webkit-transition: background-color 0.1s;
  -moz-transition: background-color 0.1s;
  -o-transition: background-color 0.1s;
  transition: background-color 0.1s;
}
.cssmenu ul ul a:hover {
  background-color: #f0f0f0;
}
.cssmenu ul ul ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: -16px;
  left: 206px;
  padding: 16px 0 20px 0;
  background-color: #fafafa;
  text-align: left;
  width: 180px;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
}
.cssmenu ul ul > li:hover > ul {
  opacity: 1;
  left: 190px;
  visibility: visible;
}
.cssmenu ul ul a:hover {
  background-color: #cc2c24;
  color: #f0f0f0;
}


/* footer */

.footer {
  font-size: 11px;
  padding: 0;
  width: 1000px;
  margin: 0 auto;
}

.footer .copyright {
  float: left;
  margin: 0;
  padding: 20px 0 10px 0;
  font-size: 11px;
}

.footer a:link, .footer a:visited {
  line-height: 30px;
  color: #676767;
}

.footer .links {
  float: right;
  margin: 0;
  padding: 20px 0 10px 0;
  font-size: 11px;
}

.footer p {
  color: #919191;
}

/* Search box */

.search {
  /* This is the container */
  width:800px;
  margin:0 auto;
}

.searchBox{
  /* This is the actual search box */
  margin: 40px 0 20px 0;
  border: none;
  color:#888888;
  background:url("images/searchBox.png") no-repeat;
  font-family:Arial,Helvetica,sans-serif;
  font-size:15px;
  height:49px;
  line-height:30px;
  outline:medium none;
  padding-left:50px;
  text-shadow:1px 1px 0 white;
  width:800px;
}

.submitButton{
  /* no submit button shown, press enter to search */
  display: none;
}
